<ul>
  <li>./</li>
  <ul>
    <li>artefacts/</li>
    <ul>
      <li> <a href='./artefacts/thinkpod.md'>thinkpod.md</a></li>
    </ul>
    <li> <a href='./main.md'>main.md</a></li>
    <li>ocupations/</li>
    <ul>
      <li> <a href='./ocupations/cognitor.md'>cognitor.md</a></li>
    </ul>
    <li>people/</li>
    <ul>
      <li> <a href='./people/cognitor_arsenus.md'>cognitor_arsenus.md</a></li>
    </ul>
    <li>places/</li>
    <ul>
      <li> <a href='./places/cognitarium.md'>cognitarium.md</a></li>
      <li> <a href='./places/grand_archive.md'>grand_archive.md</a></li>
      <li> <a href='./places/hive.md'>hive.md</a></li>
    </ul>
  </ul>
</ul>
<ul>
</ul>
